.page img {
  float: right;
  max-inline-size: 400px;
  margin-top: var(--space-m);
  margin-left: var(--space-m);
  margin-bottom: var(--space-m);
  border-radius:50%;
}

.page {
  display: flex;
  align-items: flex-start;
}

p {
  margin-bottom: var(--space-m);
}