.portraits {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    overflow: hidden;
    align-items: stretch;
}

.portraits li {
    height: 480px;
    overflow: hidden;
    flex: 1 1 auto;
}

@media screen and (max-width: 700px) {
    .portraits li {
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 600px) {
    .portraits li {
        flex: 0 0 33.33%;
        height: 300px;
    }
}

.portraits li:nth-child(5) {
    object-position: left;
}

.portraits .artwork {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
