.gradient-text {
  color: transparent;
  background: conic-gradient(
    #ec91e2,
    #ff8753,
    var(--color-primary)
  );
  padding: 0;
  background-size: 50%;
  background-clip: text;
}

.gradient {
  background: conic-gradient(
          #ec91e2,
          #ff8753,
          var(--color-primary)
  );
  background-size: 50%;
}
