<footer>
<a class="instagram" href="https://instagram.com/nataliedixon_art/"><img src="/images/insta.png" class="instagram__img" /></a>
<p>
  Copyright Natalie Dixon {{ site.buildTime | dateDisplay('yyyy') }}
</p>
</footer>
