<header>
<a class="header-link" href="/"><img class="logo" src="/images/logo.png" /><h1>Natalie Dixon</h1></a>
<div class="nav-container">
  <ul class="nav">
    <li>
      <a href="/gallery">Artwork</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="https://www.etsy.com/uk/shop/NatalieDixonArt">Shop</a>
    </li>
  </ul>
  <a class="instagram" href="https://instagram.com/nataliedixon_art/"><img src="/images/insta.png" class="instagram__img" /></a>
</div>
</header>
