<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

   {% include "header.njk" %}
   <main>
   {{ content | safe }}
   </main>
  {% include "footer.njk" %}


    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



