---
layout: base
data: descriptions
---

<article class="gallery">
{% for image in collections.paintings %}
{% if descriptions[image.name].galleryFeatured !== true %}
<a class="gallery__link {% if descriptions[image.name].wide %} gallery__link--wide {% endif %}" href="/artwork/{{image.name}}">
<figure class="gallery__figure">
<div class="gallery__wrapper">
<img src="{{ image.path | relative | url }}" class="artwork gallery__image {% if descriptions[image.name].wide %} gallery__image--wide {% endif %}" />
</div>
</figure>
</a>
{% endif %}
{% endfor %}
</article>





