---
layout: base
---

<ul class="portraits">
  <li><img src="/assets/images/portraits/chris.jpg" class="artwork" /></li>
  <li><img src="/assets/images/portraits/owen.jpg" class="artwork" /></li>
  <li><img src="/assets/images/portraits/annabel.jpg" class="artwork" /></li>
  <li><img src="/assets/images/portraits/emma.jpg" class="artwork" /></li>
  <li><img src="/assets/images/portraits/midnight.jpg" class="artwork" /></li>
</ul>

<article class="region page">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>





