---
title: Contact
layout: layouts/standard.njk
---

<article class="contact">
<p>I am available for commissions, festival gallery and live painting bookings. Please contact me through one of my social media accounts (<a href="https://instagram.com/nataliedixon_art/">Instagram</a> or <a href="https://www.facebook.com/nataliedixonart/">Facebook</a>), or drop me an <a href="mailto:natalie.dixon@cantab.net">email</a>.</p>
<img src="/images/painting.jpg" alt="Natalie at work painting" class="contact-image" />
</article>

