---
title: Contact
layout: layouts/standard.njk
---

<article class="contact">
<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message" rows="10"></textarea></label>
  </p>
  <button type="submit">Send</button>
</form>
<img src="/images/painting.jpg" alt="Natalie at work painting" class="contact-image" />
</article>

