---
layout: layouts/standard.njk
data: descriptions
---
<article class="gallery-featured">
<a class="gallery__link" href="/artwork/web-of-being">
<figure class="gallery__figure gallery__figure--featured">
<div class="gallery__wrapper--featured">
<img src="{{ '/images/gallery/web-of-being@1x.jpg' | url }}" class="artwork gallery__image" />
</div>
<figcaption>
<h4 class="gallery__name">Featured: Web of Being</h4>
<em class="gallery__format">Acrylics on linen</em>
</figcaption>
</figure>
</a>
</article>
<article class="gallery">
{% for image in collections.paintings %}
{% if descriptions[image.name].galleryFeatured !== true %}
<a class="gallery__link" href="/artwork/{{image.name}}">
<figure class="gallery__figure">
<div class="gallery__wrapper">
<img src="{{ image.path | relative | url }}" class="artwork gallery__image {% if descriptions[image.name].wide %} gallery__image--wide {% endif %}" />
</div>
<figcaption>
<h4 class="gallery__name">{{ descriptions[image.name].title }}</h4>
<em class="gallery__format">{{ descriptions[image.name].format }}</em>
</figcaption>
</figure>
</a>
{% endif %}
{% endfor %}
</article>





