@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;
  background-color: #010203;

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  position: relative;

  @media (max-width: $mid-2) {
    width: 100%;
  }
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom:0.2em;
  line-height: 1;
  font-family: 'Julius Sans One', sans-serif;
}
h1 {
  font-size: 1.6em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1;
  whitespace: nowrap;


  @media (min-width: $mid) {
    font-size: 1.6em;
  };
  @media (min-width: $wide) {
    font-size: 1.8em;
  };
}

h2 {
  margin-bottom: 1em;
}

h4 {
  font-family: 'Julius Sans One', sans-serif;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

a {
  color: silver;
  text-decoration: none;

  &:hover, &:focus {
              color: white;
            }
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-transform: uppercase;
  font-weight: 500;
  color: $nav-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-bottom-style: none;
    width: 9em;
    color: inherit;
    text-decoration: none;
  }
  a:hover,
  a:focus {
      border-bottom-style: none;
      color: #fff;
  }

  @media (min-width: $mid) {
    flex-direction: row;
  }

}


.show-link {
  font-weight: 600;
}

.show--done {
  opacity: 0.8;
}

.show {
  margin: 0;
}

code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

main {
  margin: 0;
}

header {
  padding: 0.6em;
  background-color: black;
  border-bottom: 2px solid silver;
  display: flex;
  justify-content: space-between;
}


footer {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;

@media (min-width: $mid) {
  width: 500px;
}
}

input {
  height: 34px;
}

input, textarea {
  width: 100%;
  padding: 3px;

}

button, .button {
  box-shadow: none;
  padding: 10px 20px;
  background-color: black;
  color: silver;
  border-radius: 4px;
  margin-right: auto;
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;

  &:hover, &:focus {
    background-color: silver;
    color: black;
  }

    &:focus {
       border: 2px solid silver;
      outline: 0;
     }
}

.button--home {
  max-width: 300px;
  margin: 1em auto;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
}

.strapline {
  font-size: 0.9em;
}

.gallery-featured {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  padding: 1em;
  padding-top: 0;

  @media (min-width: $mid) {
    grid-template-columns: repeat(3, 33.3%);
  }
}

.gallery__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  padding: 0.5em;
  margin: 0.5em;
}

.gallery__figure--featured {
  width: 100%;
  margin: 0 auto;
  padding: 1em;

@media (min-width: $mid) {
  width: 80%;
}
}

.gallery__link {
  text-decoration: none;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:focus {
    background-color: rgba(100,100,100, 0.5);
  }
}

.gallery__wrapper {
  overflow: hidden;

  @media (min-width: $mid) {
    height: 400px;
  }
}

.gallery__wrapper--featured {
  overflow: hidden;
}


.gallery__image {
  object-fit: contain;
}

.gallery__image--wide {
  object-fit: cover;
  max-width: 250%;
}

.gallery__name {
  margin-bottom: 0;
}

.gallery__format {
  margin-bottom: 0;
  margin-top: 3px;
  font-size: 0.9em;
}

.gallery__description {
  font-size: 0.8em;
}

.featured {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  border-bottom: 2px solid silver;
  overflow: hidden;

  li {
    height: 480px;
    overflow: hidden;
    flex: 1 1 auto;

@media (max-width: $mid-2) {
  flex: 1 1 auto;
}
     @media (max-width: $mid) {
      flex: 0 0 33.33%;
       height: 300px;
     }
  }
}

.easel {
  padding: 2em;
  max-width: 80%;
  width: 100%;
  margin: 2em auto 0;
  position: relative;
  border: 1px solid silver;
  height: 520px;
  @media (max-width: $mid) {
     padding-top: 3em;
  }

  &:before {
     content: "";
     position: absolute;
     z-index: 1;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border: 1px solid silver;
   }
}

.easel__carousel-inner {
  /*overflow: hidden;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform-style: preserve-3d;
}

.easel__carousel {
  overflow: hidden;
  position: absolute;
  top: 2em;
  right: 1em;
  left: 1em;
  bottom: 1em;
  height: 450px;
}


.easel__title {
  margin-top: 0;
  margin-bottom: 2em;
  display: inline-block;
  position: absolute;
  top: -0.4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: $dark-color;
  padding: 0 1em;

}

.easel__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  position: absolute;
  top:0;
  z-index: 100;
  transition: all .5s ease-in-out;

  @media (max-width: $mid) {
    flex-direction: column;
  }

  img {
    height: 450px;
  }

  figcaption, img {
    flex: 0 0 50%;


    @media (max-width: $mid) {
      flex: 0 0 auto;
      width: 0;
     }
  }

  figcaption {
    padding: 1em;
    padding-top: 0;
    text-align: center;
  }
}

.easel__item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
  min-width: 100%;
}

.easel__item.prev,
.easel__item.next {
  z-index: 800;
}
.easel__item.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.easel__item.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.easel__button--prev, .easel__button--next {
  border-radius: 50%;
  top: 50%;
  position: absolute;
  width: 40px;
  padding: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transform: translateY(-50%);
}

.easel__button--prev {
  left: -1em;
}

.easel__button--next {
  right: -1em;
}


.home__title {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  text-align: left;
}

.home-item__image {
  height: 100%;
  object-fit: cover;

  li:nth-child(5) & {
    object-position: left;

   }
}

.artwork {
  transition: 0.3s ease all;
  &:hover {
   filter: saturate(0%);
   transform: scale(1.05);
 }
}

.easel__image {
  height: 100%;
  object-fit: cover;
}

img {
  height: auto;
  max-width: 100%;
}

.me {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0;

  @media (min-width: $mid) {
    flex-direction: row;
    text-align: left;
    padding: 0;
  }
}

.statement {
  padding: 2em;
  padding-top: 0;

  @media (min-width: $mid-2) {
    padding: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;

@media (min-width: $mid) {
  flex-direction: row;
  text-align: left;
  padding: 0;
}
}

.contact-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;

@media (min-width: $mid) {
  height: 400px;
  width: 400px;
  margin-left: 2em;

}

}

.artpage-wrapper {
  position: relative;
  margin-bottom: 3em;
}

.artpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  height: 100%;

@media (min-width: $mid) {
  margin: 2em 0;
  padding: 0;
  justify-content: flex-start;
}
}

.artpage__image {
  max-height: 600px;
  width: auto;
}

.artpage__image--wide {
  max-width: 70%;
}

.artpage__format {
  margin-bottom: 0;
}

.artpage__year {
  display: block;
  margin-top: 0;
}

.artpage__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 0;
}

.artpage__links--no-next {
  justify-content: flex-end;
}

.instagram {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover, &:focus{
  background-color: rgba(100,100,100, 0.5);
  text-decoration: none;
  border-bottom: none;
  }
}

.instagram__img {
  width: 20px;
  height: 20px;
}
